@media (max-width: 1680px) {
    html {
        font-size: 13pt;
    }
}

@media (max-width: 1280px) {
    html {
        font-size: 13pt;
    }
}

@media (max-width: 980px) {
    html {
        font-size: 11pt;
    }
}

@media (max-width: 736px) {
    html {
        font-size: 11pt;
    }
    #main>.inner {
        padding: 3rem 2rem;
    }
    #main>.inner>* {
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
    }
    #main>.inner>.full {
        margin-left: calc(-2rem);
        width: calc(100% + 4rem + 0.4725px);
        max-width: calc(100% + 4rem + 0.4725px);
    }
    #main>.inner>.full:first-child {
        margin-top: -3rem !important;
    }
    #main>.inner>.full:last-child {
        margin-bottom: -3rem !important;
    }
    #main>.inner>.full.screen {
        margin-left: -50vw;
    }
    #container01>.wrapper>.inner {
        padding: 1rem 1rem;
    }
    #container01.default>.wrapper>.inner>* {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    #container01.columns>.wrapper>.inner {
        -moz-flex-direction: column !important;
        -webkit-flex-direction: column !important;
        -ms-flex-direction: column !important;
        flex-direction: column !important;
        -moz-flex-wrap: nowrap !important;
        -webkit-flex-wrap: nowrap !important;
        -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
    }
    #container01.columns>.wrapper>.inner>span {
        display: none;
    }
    #container01.columns>.wrapper>.inner>*>* {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    #container01.columns>.wrapper>.inner>* {
        padding: 1rem 0 !important;
    }
    #container01.columns>.wrapper>.inner>*:first-child {
        margin-left: 0 !important;
        padding-top: 0 !important;
    }
    #container01.columns>.wrapper>.inner>*:last-child {
        padding-bottom: 0 !important;
    }
    #container01.columns>.wrapper>.inner>div.after-spacer {
        padding-top: 0 !important;
    }
    #container01.columns>.wrapper>.inner>div.before-spacer {
        padding-bottom: 0 !important;
    }
    #container01.default>.wrapper>.inner>.full {
        margin-left: calc(-1rem);
        width: calc(100% + 2rem + 0.4725px);
    }
    #container01.default>.wrapper>.inner>.full:first-child {
        margin-top: -1rem !important;
    }
    #container01.default>.wrapper>.inner>.full:last-child {
        margin-bottom: -1rem !important;
    }
    #container01.columns>.wrapper>.inner>div>.full {
        margin-left: calc(-1rem);
        width: calc(100% + 2rem + 0.4725px);
    }
    #container01.columns>.wrapper>.inner>div:first-of-type>.full {
        margin-left: calc(-1rem);
        width: calc(100% + 2rem + 0.4725px);
    }
    #container01.columns>.wrapper>.inner>div:last-of-type>.full {
        margin-left: calc(-1rem);
        width: calc(100% + 2rem + 0.4725px);
    }
    #container01.columns>.wrapper>.inner>div>.full:first-child {
        margin-top: -1rem !important;
    }
    #container01.columns>.wrapper>.inner>div>.full:last-child {
        margin-bottom: -1rem !important;
    }
    #container01.columns>.wrapper>.inner>div:first-of-type>.full:first-child {
        margin-top: calc(-1rem) !important;
    }
    #container01.columns>.wrapper>.inner>div:last-of-type>.full:last-child {
        margin-bottom: calc(-1rem) !important;
    }
    #container01.columns>.wrapper>.inner>div:first-of-type,
    #container01.columns>.wrapper>.inner>div:first-of-type>.full:first-child {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }
    #container01.columns>.wrapper>.inner>div:last-of-type,
    #container01.columns>.wrapper>.inner>div:last-of-type>.full:last-child {
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
    }
    #container01.columns>.wrapper>.inner>div:first-of-type,
    #container01.columns>.wrapper>.inner>div:first-of-type>.full:last-child {
        border-bottom-left-radius: 0 !important;
    }
    #container01.columns>.wrapper>.inner>div:last-of-type,
    #container01.columns>.wrapper>.inner>div:last-of-type>.full:first-child {
        border-top-right-radius: 0 !important;
    }
    #container01.columns>.wrapper>.inner>.full>.full:first-child:last-child {
        height: auto;
    }
    #container01.columns>.wrapper>.inner>.full>.full:first-child:last-child img {
        position: relative;
        width: 100%;
        height: auto;
    }
    #container01.columns>.wrapper>.inner>.full>.full:first-child:last-child a,
    #container01.columns>.wrapper>.inner>.full>.full:first-child:last-child span,
    #container01.columns>.wrapper>.inner>.full>.full:first-child:last-child img {
        height: auto;
    }
    #container02>.wrapper>.inner {
        padding: 0rem 0rem;
    }
    #container02.default>.wrapper>.inner>* {
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
    }
    #container02.columns>.wrapper>.inner {
        -moz-flex-direction: column !important;
        -webkit-flex-direction: column !important;
        -ms-flex-direction: column !important;
        flex-direction: column !important;
        -moz-flex-wrap: nowrap !important;
        -webkit-flex-wrap: nowrap !important;
        -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
    }
    #container02.columns>.wrapper>.inner>span {
        display: none;
    }
    #container02.columns>.wrapper>.inner>*>* {
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
    }
    #container02.columns>.wrapper>.inner>* {
        padding: 0rem 0 !important;
    }
    #container02.columns>.wrapper>.inner>*:first-child {
        margin-left: 0 !important;
        padding-top: 0 !important;
    }
    #container02.columns>.wrapper>.inner>*:last-child {
        padding-bottom: 0 !important;
    }
    #container02.columns>.wrapper>.inner>div.after-spacer {
        padding-top: 0 !important;
    }
    #container02.columns>.wrapper>.inner>div.before-spacer {
        padding-bottom: 0 !important;
    }
    #container02.default>.wrapper>.inner>.full {
        margin-left: calc(0rem);
        width: calc(100% + 0rem + 0.4725px);
    }
    #container02.default>.wrapper>.inner>.full:first-child {
        margin-top: 0rem !important;
    }
    #container02.default>.wrapper>.inner>.full:last-child {
        margin-bottom: 0rem !important;
    }
    #container02.columns>.wrapper>.inner>div>.full {
        margin-left: calc(0rem);
        width: calc(100% + 0rem + 0.4725px);
    }
    #container02.columns>.wrapper>.inner>div:first-of-type>.full {
        margin-left: calc(0rem);
        width: calc(100% + 0rem + 0.4725px);
    }
    #container02.columns>.wrapper>.inner>div:last-of-type>.full {
        margin-left: calc(0rem);
        width: calc(100% + 0rem + 0.4725px);
    }
    #container02.columns>.wrapper>.inner>div>.full:first-child {
        margin-top: -0rem !important;
    }
    #container02.columns>.wrapper>.inner>div>.full:last-child {
        margin-bottom: -0rem !important;
    }
    #container02.columns>.wrapper>.inner>div:first-of-type>.full:first-child {
        margin-top: calc(0rem) !important;
    }
    #container02.columns>.wrapper>.inner>div:last-of-type>.full:last-child {
        margin-bottom: calc(0rem) !important;
    }
    #container02.columns>.wrapper>.inner>div:first-of-type,
    #container02.columns>.wrapper>.inner>div:first-of-type>.full:first-child {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }
    #container02.columns>.wrapper>.inner>div:last-of-type,
    #container02.columns>.wrapper>.inner>div:last-of-type>.full:last-child {
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
    }
    #container02.columns>.wrapper>.inner>div:first-of-type,
    #container02.columns>.wrapper>.inner>div:first-of-type>.full:last-child {
        border-bottom-left-radius: 0 !important;
    }
    #container02.columns>.wrapper>.inner>div:last-of-type,
    #container02.columns>.wrapper>.inner>div:last-of-type>.full:first-child {
        border-top-right-radius: 0 !important;
    }
    #container02.columns>.wrapper>.inner>.full>.full:first-child:last-child {
        height: auto;
    }
    #container02.columns>.wrapper>.inner>.full>.full:first-child:last-child img {
        position: relative;
        width: 100%;
        height: auto;
    }
    #container02.columns>.wrapper>.inner>.full>.full:first-child:last-child a,
    #container02.columns>.wrapper>.inner>.full>.full:first-child:last-child span,
    #container02.columns>.wrapper>.inner>.full>.full:first-child:last-child img {
        height: auto;
    }
    #container02>.wrapper>.inner> :nth-child(1) {
        width: 100% !important;
        min-height: 100% !important;
        text-align: inherit !important;
    }
    #container02>.wrapper>.inner> :nth-child(2) {
        width: 100% !important;
        min-height: 100% !important;
        text-align: inherit !important;
    }
    #container02>.wrapper>.inner> :nth-child(3) {
        width: 100% !important;
        min-height: 100% !important;
        text-align: inherit !important;
    }
    #container03>.wrapper>.inner {
        padding: 0rem 0rem;
    }
    #container03.default>.wrapper>.inner>* {
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
    }
    #container03.columns>.wrapper>.inner {
        -moz-flex-direction: column !important;
        -webkit-flex-direction: column !important;
        -ms-flex-direction: column !important;
        flex-direction: column !important;
        -moz-flex-wrap: nowrap !important;
        -webkit-flex-wrap: nowrap !important;
        -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
    }
    #container03.columns>.wrapper>.inner>span {
        display: none;
    }
    #container03.columns>.wrapper>.inner>*>* {
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
    }
    #container03.columns>.wrapper>.inner>* {
        padding: 0rem 0 !important;
    }
    #container03.columns>.wrapper>.inner>*:first-child {
        margin-left: 0 !important;
        padding-top: 0 !important;
    }
    #container03.columns>.wrapper>.inner>*:last-child {
        padding-bottom: 0 !important;
    }
    #container03.columns>.wrapper>.inner>div.after-spacer {
        padding-top: 0 !important;
    }
    #container03.columns>.wrapper>.inner>div.before-spacer {
        padding-bottom: 0 !important;
    }
    #container03.default>.wrapper>.inner>.full {
        margin-left: calc(0rem);
        width: calc(100% + 0rem + 0.4725px);
    }
    #container03.default>.wrapper>.inner>.full:first-child {
        margin-top: 0rem !important;
    }
    #container03.default>.wrapper>.inner>.full:last-child {
        margin-bottom: 0rem !important;
    }
    #container03.columns>.wrapper>.inner>div>.full {
        margin-left: calc(0rem);
        width: calc(100% + 0rem + 0.4725px);
    }
    #container03.columns>.wrapper>.inner>div:first-of-type>.full {
        margin-left: calc(0rem);
        width: calc(100% + 0rem + 0.4725px);
    }
    #container03.columns>.wrapper>.inner>div:last-of-type>.full {
        margin-left: calc(0rem);
        width: calc(100% + 0rem + 0.4725px);
    }
    #container03.columns>.wrapper>.inner>div>.full:first-child {
        margin-top: -0rem !important;
    }
    #container03.columns>.wrapper>.inner>div>.full:last-child {
        margin-bottom: -0rem !important;
    }
    #container03.columns>.wrapper>.inner>div:first-of-type>.full:first-child {
        margin-top: calc(0rem) !important;
    }
    #container03.columns>.wrapper>.inner>div:last-of-type>.full:last-child {
        margin-bottom: calc(0rem) !important;
    }
    #container03.columns>.wrapper>.inner>div:first-of-type,
    #container03.columns>.wrapper>.inner>div:first-of-type>.full:first-child {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }
    #container03.columns>.wrapper>.inner>div:last-of-type,
    #container03.columns>.wrapper>.inner>div:last-of-type>.full:last-child {
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
    }
    #container03.columns>.wrapper>.inner>div:first-of-type,
    #container03.columns>.wrapper>.inner>div:first-of-type>.full:last-child {
        border-bottom-left-radius: 0 !important;
    }
    #container03.columns>.wrapper>.inner>div:last-of-type,
    #container03.columns>.wrapper>.inner>div:last-of-type>.full:first-child {
        border-top-right-radius: 0 !important;
    }
    #container03.columns>.wrapper>.inner>.full>.full:first-child:last-child {
        height: auto;
    }
    #container03.columns>.wrapper>.inner>.full>.full:first-child:last-child img {
        position: relative;
        width: 100%;
        height: auto;
    }
    #container03.columns>.wrapper>.inner>.full>.full:first-child:last-child a,
    #container03.columns>.wrapper>.inner>.full>.full:first-child:last-child span,
    #container03.columns>.wrapper>.inner>.full>.full:first-child:last-child img {
        height: auto;
    }
    #container03>.wrapper>.inner> :nth-child(1) {
        width: 100% !important;
        min-height: 100% !important;
        text-align: inherit !important;
    }
    #container03>.wrapper>.inner> :nth-child(2) {
        width: 100% !important;
        min-height: 100% !important;
        text-align: inherit !important;
    }
    #container03>.wrapper>.inner> :nth-child(3) {
        width: 100% !important;
        min-height: 100% !important;
        text-align: inherit !important;
    }
    #container04>.wrapper>.inner {
        padding: 0rem 0rem;
    }
    #container04.default>.wrapper>.inner>* {
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
    }
    #container04.columns>.wrapper>.inner {
        -moz-flex-direction: column !important;
        -webkit-flex-direction: column !important;
        -ms-flex-direction: column !important;
        flex-direction: column !important;
        -moz-flex-wrap: nowrap !important;
        -webkit-flex-wrap: nowrap !important;
        -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
    }
    #container04.columns>.wrapper>.inner>span {
        display: none;
    }
    #container04.columns>.wrapper>.inner>*>* {
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
    }
    #container04.columns>.wrapper>.inner>* {
        padding: 0rem 0 !important;
    }
    #container04.columns>.wrapper>.inner>*:first-child {
        margin-left: 0 !important;
        padding-top: 0 !important;
    }
    #container04.columns>.wrapper>.inner>*:last-child {
        padding-bottom: 0 !important;
    }
    #container04.columns>.wrapper>.inner>div.after-spacer {
        padding-top: 0 !important;
    }
    #container04.columns>.wrapper>.inner>div.before-spacer {
        padding-bottom: 0 !important;
    }
    #container04.default>.wrapper>.inner>.full {
        margin-left: calc(0rem);
        width: calc(100% + 0rem + 0.4725px);
    }
    #container04.default>.wrapper>.inner>.full:first-child {
        margin-top: 0rem !important;
    }
    #container04.default>.wrapper>.inner>.full:last-child {
        margin-bottom: 0rem !important;
    }
    #container04.columns>.wrapper>.inner>div>.full {
        margin-left: calc(0rem);
        width: calc(100% + 0rem + 0.4725px);
    }
    #container04.columns>.wrapper>.inner>div:first-of-type>.full {
        margin-left: calc(0rem);
        width: calc(100% + 0rem + 0.4725px);
    }
    #container04.columns>.wrapper>.inner>div:last-of-type>.full {
        margin-left: calc(0rem);
        width: calc(100% + 0rem + 0.4725px);
    }
    #container04.columns>.wrapper>.inner>div>.full:first-child {
        margin-top: -0rem !important;
    }
    #container04.columns>.wrapper>.inner>div>.full:last-child {
        margin-bottom: -0rem !important;
    }
    #container04.columns>.wrapper>.inner>div:first-of-type>.full:first-child {
        margin-top: calc(0rem) !important;
    }
    #container04.columns>.wrapper>.inner>div:last-of-type>.full:last-child {
        margin-bottom: calc(0rem) !important;
    }
    #container04.columns>.wrapper>.inner>div:first-of-type,
    #container04.columns>.wrapper>.inner>div:first-of-type>.full:first-child {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }
    #container04.columns>.wrapper>.inner>div:last-of-type,
    #container04.columns>.wrapper>.inner>div:last-of-type>.full:last-child {
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
    }
    #container04.columns>.wrapper>.inner>div:first-of-type,
    #container04.columns>.wrapper>.inner>div:first-of-type>.full:last-child {
        border-bottom-left-radius: 0 !important;
    }
    #container04.columns>.wrapper>.inner>div:last-of-type,
    #container04.columns>.wrapper>.inner>div:last-of-type>.full:first-child {
        border-top-right-radius: 0 !important;
    }
    #container04.columns>.wrapper>.inner>.full>.full:first-child:last-child {
        height: auto;
    }
    #container04.columns>.wrapper>.inner>.full>.full:first-child:last-child img {
        position: relative;
        width: 100%;
        height: auto;
    }
    #container04.columns>.wrapper>.inner>.full>.full:first-child:last-child a,
    #container04.columns>.wrapper>.inner>.full>.full:first-child:last-child span,
    #container04.columns>.wrapper>.inner>.full>.full:first-child:last-child img {
        height: auto;
    }
    #container04>.wrapper>.inner> :nth-child(1) {
        width: 100% !important;
        min-height: 100% !important;
        text-align: inherit !important;
    }
    #container04>.wrapper>.inner> :nth-child(2) {
        width: 100% !important;
        min-height: 100% !important;
        text-align: inherit !important;
    }
    #container04>.wrapper>.inner> :nth-child(3) {
        width: 100% !important;
        min-height: 100% !important;
        text-align: inherit !important;
    }
    #container05>.wrapper>.inner {
        padding: 0rem 0rem;
    }
    #container05.default>.wrapper>.inner>* {
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
    }
    #container05.columns>.wrapper>.inner {
        -moz-flex-direction: column !important;
        -webkit-flex-direction: column !important;
        -ms-flex-direction: column !important;
        flex-direction: column !important;
        -moz-flex-wrap: nowrap !important;
        -webkit-flex-wrap: nowrap !important;
        -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
    }
    #container05.columns>.wrapper>.inner>span {
        display: none;
    }
    #container05.columns>.wrapper>.inner>*>* {
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
    }
    #container05.columns>.wrapper>.inner>* {
        padding: 0rem 0 !important;
    }
    #container05.columns>.wrapper>.inner>*:first-child {
        margin-left: 0 !important;
        padding-top: 0 !important;
    }
    #container05.columns>.wrapper>.inner>*:last-child {
        padding-bottom: 0 !important;
    }
    #container05.columns>.wrapper>.inner>div.after-spacer {
        padding-top: 0 !important;
    }
    #container05.columns>.wrapper>.inner>div.before-spacer {
        padding-bottom: 0 !important;
    }
    #container05.default>.wrapper>.inner>.full {
        margin-left: calc(0rem);
        width: calc(100% + 0rem + 0.4725px);
    }
    #container05.default>.wrapper>.inner>.full:first-child {
        margin-top: 0rem !important;
    }
    #container05.default>.wrapper>.inner>.full:last-child {
        margin-bottom: 0rem !important;
    }
    #container05.columns>.wrapper>.inner>div>.full {
        margin-left: calc(0rem);
        width: calc(100% + 0rem + 0.4725px);
    }
    #container05.columns>.wrapper>.inner>div:first-of-type>.full {
        margin-left: calc(0rem);
        width: calc(100% + 0rem + 0.4725px);
    }
    #container05.columns>.wrapper>.inner>div:last-of-type>.full {
        margin-left: calc(0rem);
        width: calc(100% + 0rem + 0.4725px);
    }
    #container05.columns>.wrapper>.inner>div>.full:first-child {
        margin-top: -0rem !important;
    }
    #container05.columns>.wrapper>.inner>div>.full:last-child {
        margin-bottom: -0rem !important;
    }
    #container05.columns>.wrapper>.inner>div:first-of-type>.full:first-child {
        margin-top: calc(0rem) !important;
    }
    #container05.columns>.wrapper>.inner>div:last-of-type>.full:last-child {
        margin-bottom: calc(0rem) !important;
    }
    #container05.columns>.wrapper>.inner>div:first-of-type,
    #container05.columns>.wrapper>.inner>div:first-of-type>.full:first-child {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }
    #container05.columns>.wrapper>.inner>div:last-of-type,
    #container05.columns>.wrapper>.inner>div:last-of-type>.full:last-child {
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
    }
    #container05.columns>.wrapper>.inner>div:first-of-type,
    #container05.columns>.wrapper>.inner>div:first-of-type>.full:last-child {
        border-bottom-left-radius: 0 !important;
    }
    #container05.columns>.wrapper>.inner>div:last-of-type,
    #container05.columns>.wrapper>.inner>div:last-of-type>.full:first-child {
        border-top-right-radius: 0 !important;
    }
    #container05.columns>.wrapper>.inner>.full>.full:first-child:last-child {
        height: auto;
    }
    #container05.columns>.wrapper>.inner>.full>.full:first-child:last-child img {
        position: relative;
        width: 100%;
        height: auto;
    }
    #container05.columns>.wrapper>.inner>.full>.full:first-child:last-child a,
    #container05.columns>.wrapper>.inner>.full>.full:first-child:last-child span,
    #container05.columns>.wrapper>.inner>.full>.full:first-child:last-child img {
        height: auto;
    }
    #container05>.wrapper>.inner> :nth-child(1) {
        width: 100% !important;
        min-height: 100% !important;
        text-align: inherit !important;
    }
    #container05>.wrapper>.inner> :nth-child(2) {
        width: 100% !important;
        min-height: 100% !important;
        text-align: inherit !important;
    }
    #container05>.wrapper>.inner> :nth-child(3) {
        width: 100% !important;
        min-height: 100% !important;
        text-align: inherit !important;
    }
    #container06>.wrapper>.inner {
        padding: 0rem 0rem;
    }
    #container06.default>.wrapper>.inner>* {
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
    }
    #container06.columns>.wrapper>.inner {
        -moz-flex-direction: column !important;
        -webkit-flex-direction: column !important;
        -ms-flex-direction: column !important;
        flex-direction: column !important;
        -moz-flex-wrap: nowrap !important;
        -webkit-flex-wrap: nowrap !important;
        -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
    }
    #container06.columns>.wrapper>.inner>span {
        display: none;
    }
    #container06.columns>.wrapper>.inner>*>* {
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
    }
    #container06.columns>.wrapper>.inner>* {
        padding: 0rem 0 !important;
    }
    #container06.columns>.wrapper>.inner>*:first-child {
        margin-left: 0 !important;
        padding-top: 0 !important;
    }
    #container06.columns>.wrapper>.inner>*:last-child {
        padding-bottom: 0 !important;
    }
    #container06.columns>.wrapper>.inner>div.after-spacer {
        padding-top: 0 !important;
    }
    #container06.columns>.wrapper>.inner>div.before-spacer {
        padding-bottom: 0 !important;
    }
    #container06.default>.wrapper>.inner>.full {
        margin-left: calc(0rem);
        width: calc(100% + 0rem + 0.4725px);
    }
    #container06.default>.wrapper>.inner>.full:first-child {
        margin-top: 0rem !important;
    }
    #container06.default>.wrapper>.inner>.full:last-child {
        margin-bottom: 0rem !important;
    }
    #container06.columns>.wrapper>.inner>div>.full {
        margin-left: calc(0rem);
        width: calc(100% + 0rem + 0.4725px);
    }
    #container06.columns>.wrapper>.inner>div:first-of-type>.full {
        margin-left: calc(0rem);
        width: calc(100% + 0rem + 0.4725px);
    }
    #container06.columns>.wrapper>.inner>div:last-of-type>.full {
        margin-left: calc(0rem);
        width: calc(100% + 0rem + 0.4725px);
    }
    #container06.columns>.wrapper>.inner>div>.full:first-child {
        margin-top: -0rem !important;
    }
    #container06.columns>.wrapper>.inner>div>.full:last-child {
        margin-bottom: -0rem !important;
    }
    #container06.columns>.wrapper>.inner>div:first-of-type>.full:first-child {
        margin-top: calc(0rem) !important;
    }
    #container06.columns>.wrapper>.inner>div:last-of-type>.full:last-child {
        margin-bottom: calc(0rem) !important;
    }
    #container06.columns>.wrapper>.inner>div:first-of-type,
    #container06.columns>.wrapper>.inner>div:first-of-type>.full:first-child {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }
    #container06.columns>.wrapper>.inner>div:last-of-type,
    #container06.columns>.wrapper>.inner>div:last-of-type>.full:last-child {
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
    }
    #container06.columns>.wrapper>.inner>div:first-of-type,
    #container06.columns>.wrapper>.inner>div:first-of-type>.full:last-child {
        border-bottom-left-radius: 0 !important;
    }
    #container06.columns>.wrapper>.inner>div:last-of-type,
    #container06.columns>.wrapper>.inner>div:last-of-type>.full:first-child {
        border-top-right-radius: 0 !important;
    }
    #container06.columns>.wrapper>.inner>.full>.full:first-child:last-child {
        height: auto;
    }
    #container06.columns>.wrapper>.inner>.full>.full:first-child:last-child img {
        position: relative;
        width: 100%;
        height: auto;
    }
    #container06.columns>.wrapper>.inner>.full>.full:first-child:last-child a,
    #container06.columns>.wrapper>.inner>.full>.full:first-child:last-child span,
    #container06.columns>.wrapper>.inner>.full>.full:first-child:last-child img {
        height: auto;
    }
    #container06>.wrapper>.inner> :nth-child(1) {
        width: 100% !important;
        min-height: 100% !important;
        text-align: inherit !important;
    }
    #container06>.wrapper>.inner> :nth-child(2) {
        width: 100% !important;
        min-height: 100% !important;
        text-align: inherit !important;
    }
    #container06>.wrapper>.inner> :nth-child(3) {
        width: 100% !important;
        min-height: 100% !important;
        text-align: inherit !important;
    }
    #container07>.wrapper>.inner {
        padding: 0rem 0rem;
    }
    #container07.default>.wrapper>.inner>* {
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
    }
    #container07.columns>.wrapper>.inner {
        -moz-flex-direction: column !important;
        -webkit-flex-direction: column !important;
        -ms-flex-direction: column !important;
        flex-direction: column !important;
        -moz-flex-wrap: nowrap !important;
        -webkit-flex-wrap: nowrap !important;
        -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
    }
    #container07.columns>.wrapper>.inner>span {
        display: none;
    }
    #container07.columns>.wrapper>.inner>*>* {
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
    }
    #container07.columns>.wrapper>.inner>* {
        padding: 0rem 0 !important;
    }
    #container07.columns>.wrapper>.inner>*:first-child {
        margin-left: 0 !important;
        padding-top: 0 !important;
    }
    #container07.columns>.wrapper>.inner>*:last-child {
        padding-bottom: 0 !important;
    }
    #container07.columns>.wrapper>.inner>div.after-spacer {
        padding-top: 0 !important;
    }
    #container07.columns>.wrapper>.inner>div.before-spacer {
        padding-bottom: 0 !important;
    }
    #container07.default>.wrapper>.inner>.full {
        margin-left: calc(0rem);
        width: calc(100% + 0rem + 0.4725px);
    }
    #container07.default>.wrapper>.inner>.full:first-child {
        margin-top: 0rem !important;
    }
    #container07.default>.wrapper>.inner>.full:last-child {
        margin-bottom: 0rem !important;
    }
    #container07.columns>.wrapper>.inner>div>.full {
        margin-left: calc(0rem);
        width: calc(100% + 0rem + 0.4725px);
    }
    #container07.columns>.wrapper>.inner>div:first-of-type>.full {
        margin-left: calc(0rem);
        width: calc(100% + 0rem + 0.4725px);
    }
    #container07.columns>.wrapper>.inner>div:last-of-type>.full {
        margin-left: calc(0rem);
        width: calc(100% + 0rem + 0.4725px);
    }
    #container07.columns>.wrapper>.inner>div>.full:first-child {
        margin-top: -0rem !important;
    }
    #container07.columns>.wrapper>.inner>div>.full:last-child {
        margin-bottom: -0rem !important;
    }
    #container07.columns>.wrapper>.inner>div:first-of-type>.full:first-child {
        margin-top: calc(0rem) !important;
    }
    #container07.columns>.wrapper>.inner>div:last-of-type>.full:last-child {
        margin-bottom: calc(0rem) !important;
    }
    #container07.columns>.wrapper>.inner>div:first-of-type,
    #container07.columns>.wrapper>.inner>div:first-of-type>.full:first-child {
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }
    #container07.columns>.wrapper>.inner>div:last-of-type,
    #container07.columns>.wrapper>.inner>div:last-of-type>.full:last-child {
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
    }
    #container07.columns>.wrapper>.inner>div:first-of-type,
    #container07.columns>.wrapper>.inner>div:first-of-type>.full:last-child {
        border-bottom-left-radius: 0 !important;
    }
    #container07.columns>.wrapper>.inner>div:last-of-type,
    #container07.columns>.wrapper>.inner>div:last-of-type>.full:first-child {
        border-top-right-radius: 0 !important;
    }
    #container07.columns>.wrapper>.inner>.full>.full:first-child:last-child {
        height: auto;
    }
    #container07.columns>.wrapper>.inner>.full>.full:first-child:last-child img {
        position: relative;
        width: 100%;
        height: auto;
    }
    #container07.columns>.wrapper>.inner>.full>.full:first-child:last-child a,
    #container07.columns>.wrapper>.inner>.full>.full:first-child:last-child span,
    #container07.columns>.wrapper>.inner>.full>.full:first-child:last-child img {
        height: auto;
    }
    #container07>.wrapper>.inner> :nth-child(1) {
        width: 100% !important;
        min-height: 100% !important;
        text-align: inherit !important;
    }
    #container07>.wrapper>.inner> :nth-child(2) {
        width: 100% !important;
        min-height: 100% !important;
        text-align: inherit !important;
    }
    #container07>.wrapper>.inner> :nth-child(3) {
        width: 100% !important;
        min-height: 100% !important;
        text-align: inherit !important;
    }
    #text04 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 3.5em;
        line-height: 1.5;
    }
    #text05 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 3.5em;
        line-height: 1.5;
    }
    #text06 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 3.5em;
        line-height: 1.5;
    }
    #text07 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 3.5em;
        line-height: 1.5;
    }
    #text08 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 3.5em;
        line-height: 1.5;
    }
    #text09 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 3.5em;
        line-height: 1.5;
    }
    #text10 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 3.5em;
        line-height: 1.5;
    }
    #text11 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 3.5em;
        line-height: 1.5;
    }
    #text12 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 3.5em;
        line-height: 1.5;
    }
    #text13 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 3.5em;
        line-height: 1.5;
    }
    #text14 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 3.5em;
        line-height: 1.5;
    }
    #text15 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 3.5em;
        line-height: 1.5;
    }
    #text03 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 3.5em;
        line-height: 1.5;
    }
    #text02 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 3.5em;
        line-height: 1.5;
    }
    #text01 {
        letter-spacing: 0rem;
        width: 100%;
        font-size: 3.5em;
        line-height: 1.5;
    }
}

@media (max-width: 480px) {
    #main>.inner>* {
        margin-top: 0.65625rem;
        margin-bottom: 0.65625rem;
    }
    #container01.default>.wrapper>.inner>* {
        margin-top: 0.875rem;
        margin-bottom: 0.875rem;
    }
    #container01.columns>.wrapper>.inner>*>* {
        margin-top: 0.875rem;
        margin-bottom: 0.875rem;
    }
    #container02.default>.wrapper>.inner>* {
        margin-top: 0.65625rem;
        margin-bottom: 0.65625rem;
    }
    #container02.columns>.wrapper>.inner>*>* {
        margin-top: 0.65625rem;
        margin-bottom: 0.65625rem;
    }
    #container03.default>.wrapper>.inner>* {
        margin-top: 0.65625rem;
        margin-bottom: 0.65625rem;
    }
    #container03.columns>.wrapper>.inner>*>* {
        margin-top: 0.65625rem;
        margin-bottom: 0.65625rem;
    }
    #container04.default>.wrapper>.inner>* {
        margin-top: 0.65625rem;
        margin-bottom: 0.65625rem;
    }
    #container04.columns>.wrapper>.inner>*>* {
        margin-top: 0.65625rem;
        margin-bottom: 0.65625rem;
    }
    #container06.default>.wrapper>.inner>* {
        margin-top: 0.65625rem;
        margin-bottom: 0.65625rem;
    }
    #container06.columns>.wrapper>.inner>*>* {
        margin-top: 0.65625rem;
        margin-bottom: 0.65625rem;
    }
    #container05.default>.wrapper>.inner>* {
        margin-top: 0.65625rem;
        margin-bottom: 0.65625rem;
    }
    #container05.columns>.wrapper>.inner>*>* {
        margin-top: 0.65625rem;
        margin-bottom: 0.65625rem;
    }
}

@media (max-width: 360px) {
    #main>.inner {
        padding: 2.25rem 1.5rem;
    }
    #main>.inner>* {
        margin-top: 0.5625rem;
        margin-bottom: 0.5625rem;
    }
    #main>.inner>.full {
        margin-left: calc(-1.5rem);
        width: calc(100% + 3rem + 0.4725px);
        max-width: calc(100% + 3rem + 0.4725px);
    }
    #main>.inner>.full:first-child {
        margin-top: -2.25rem !important;
    }
    #main>.inner>.full:last-child {
        margin-bottom: -2.25rem !important;
    }
    #main>.inner>.full.screen {
        margin-left: -50vw;
    }
    #container01>.wrapper>.inner {
        padding: 0.75rem 0.75rem;
    }
    #container01.default>.wrapper>.inner>* {
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
    }
    #container01.columns>.wrapper>.inner>*>* {
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
    }
    #container01.default>.wrapper>.inner>.full {
        margin-left: calc(-0.75rem);
        width: calc(100% + 1.5rem + 0.4725px);
    }
    #container01.default>.wrapper>.inner>.full:first-child {
        margin-top: -0.75rem !important;
    }
    #container01.default>.wrapper>.inner>.full:last-child {
        margin-bottom: -0.75rem !important;
    }
    #container01.columns>.wrapper>.inner>div>.full {
        margin-left: calc(-0.75rem);
        width: calc(100% + 1.5rem + 0.4725px);
    }
    #container01.columns>.wrapper>.inner>div:first-of-type>.full {
        margin-left: calc(-0.75rem);
        width: calc(100% + 1.5rem + 0.4725px);
    }
    #container01.columns>.wrapper>.inner>div:last-of-type>.full {
        margin-left: calc(-0.75rem);
        width: calc(100% + 1.5rem + 0.4725px);
    }
    #container01.columns>.wrapper>.inner>div>.full:first-child {
        margin-top: -1rem !important;
    }
    #container01.columns>.wrapper>.inner>div>.full:last-child {
        margin-bottom: -1rem !important;
    }
    #container01.columns>.wrapper>.inner>div:first-of-type>.full:first-child {
        margin-top: calc(-0.75rem) !important;
    }
    #container01.columns>.wrapper>.inner>div:last-of-type>.full:last-child {
        margin-bottom: calc(-0.75rem) !important;
    }
    #container02>.wrapper>.inner {
        padding: 0rem 0rem;
    }
    #container02.default>.wrapper>.inner>* {
        margin-top: 0.5625rem;
        margin-bottom: 0.5625rem;
    }
    #container02.columns>.wrapper>.inner>*>* {
        margin-top: 0.5625rem;
        margin-bottom: 0.5625rem;
    }
    #container02.default>.wrapper>.inner>.full {
        margin-left: calc(-0rem);
        width: calc(100% + 0rem + 0.4725px);
    }
    #container02.default>.wrapper>.inner>.full:first-child {
        margin-top: -0rem !important;
    }
    #container02.default>.wrapper>.inner>.full:last-child {
        margin-bottom: -0rem !important;
    }
    #container02.columns>.wrapper>.inner>div>.full {
        margin-left: calc(-0rem);
        width: calc(100% + 0rem + 0.4725px);
    }
    #container02.columns>.wrapper>.inner>div:first-of-type>.full {
        margin-left: calc(-0rem);
        width: calc(100% + 0rem + 0.4725px);
    }
    #container02.columns>.wrapper>.inner>div:last-of-type>.full {
        margin-left: calc(-0rem);
        width: calc(100% + 0rem + 0.4725px);
    }
    #container02.columns>.wrapper>.inner>div>.full:first-child {
        margin-top: -0rem !important;
    }
    #container02.columns>.wrapper>.inner>div>.full:last-child {
        margin-bottom: -0rem !important;
    }
    #container02.columns>.wrapper>.inner>div:first-of-type>.full:first-child {
        margin-top: calc(-0rem) !important;
    }
    #container02.columns>.wrapper>.inner>div:last-of-type>.full:last-child {
        margin-bottom: calc(-0rem) !important;
    }
    #container03>.wrapper>.inner {
        padding: 0rem 0rem;
    }
    #container03.default>.wrapper>.inner>* {
        margin-top: 0.5625rem;
        margin-bottom: 0.5625rem;
    }
    #container03.columns>.wrapper>.inner>*>* {
        margin-top: 0.5625rem;
        margin-bottom: 0.5625rem;
    }
    #container03.default>.wrapper>.inner>.full {
        margin-left: calc(-0rem);
        width: calc(100% + 0rem + 0.4725px);
    }
    #container03.default>.wrapper>.inner>.full:first-child {
        margin-top: -0rem !important;
    }
    #container03.default>.wrapper>.inner>.full:last-child {
        margin-bottom: -0rem !important;
    }
    #container03.columns>.wrapper>.inner>div>.full {
        margin-left: calc(-0rem);
        width: calc(100% + 0rem + 0.4725px);
    }
    #container03.columns>.wrapper>.inner>div:first-of-type>.full {
        margin-left: calc(-0rem);
        width: calc(100% + 0rem + 0.4725px);
    }
    #container03.columns>.wrapper>.inner>div:last-of-type>.full {
        margin-left: calc(-0rem);
        width: calc(100% + 0rem + 0.4725px);
    }
    #container03.columns>.wrapper>.inner>div>.full:first-child {
        margin-top: -0rem !important;
    }
    #container03.columns>.wrapper>.inner>div>.full:last-child {
        margin-bottom: -0rem !important;
    }
    #container03.columns>.wrapper>.inner>div:first-of-type>.full:first-child {
        margin-top: calc(-0rem) !important;
    }
    #container03.columns>.wrapper>.inner>div:last-of-type>.full:last-child {
        margin-bottom: calc(-0rem) !important;
    }
    #container04>.wrapper>.inner {
        padding: 0rem 0rem;
    }
    #container04.default>.wrapper>.inner>* {
        margin-top: 0.5625rem;
        margin-bottom: 0.5625rem;
    }
    #container04.columns>.wrapper>.inner>*>* {
        margin-top: 0.5625rem;
        margin-bottom: 0.5625rem;
    }
    #container04.default>.wrapper>.inner>.full {
        margin-left: calc(-0rem);
        width: calc(100% + 0rem + 0.4725px);
    }
    #container04.default>.wrapper>.inner>.full:first-child {
        margin-top: -0rem !important;
    }
    #container04.default>.wrapper>.inner>.full:last-child {
        margin-bottom: -0rem !important;
    }
    #container04.columns>.wrapper>.inner>div>.full {
        margin-left: calc(-0rem);
        width: calc(100% + 0rem + 0.4725px);
    }
    #container04.columns>.wrapper>.inner>div:first-of-type>.full {
        margin-left: calc(-0rem);
        width: calc(100% + 0rem + 0.4725px);
    }
    #container04.columns>.wrapper>.inner>div:last-of-type>.full {
        margin-left: calc(-0rem);
        width: calc(100% + 0rem + 0.4725px);
    }
    #container04.columns>.wrapper>.inner>div>.full:first-child {
        margin-top: -0rem !important;
    }
    #container04.columns>.wrapper>.inner>div>.full:last-child {
        margin-bottom: -0rem !important;
    }
    #container04.columns>.wrapper>.inner>div:first-of-type>.full:first-child {
        margin-top: calc(-0rem) !important;
    }
    #container04.columns>.wrapper>.inner>div:last-of-type>.full:last-child {
        margin-bottom: calc(-0rem) !important;
    }
    #container06>.wrapper>.inner {
        padding: 0rem 0rem;
    }
    #container06.default>.wrapper>.inner>* {
        margin-top: 0.5625rem;
        margin-bottom: 0.5625rem;
    }
    #container06.columns>.wrapper>.inner>*>* {
        margin-top: 0.5625rem;
        margin-bottom: 0.5625rem;
    }
    #container06.default>.wrapper>.inner>.full {
        margin-left: calc(-0rem);
        width: calc(100% + 0rem + 0.4725px);
    }
    #container06.default>.wrapper>.inner>.full:first-child {
        margin-top: -0rem !important;
    }
    #container06.default>.wrapper>.inner>.full:last-child {
        margin-bottom: -0rem !important;
    }
    #container06.columns>.wrapper>.inner>div>.full {
        margin-left: calc(-0rem);
        width: calc(100% + 0rem + 0.4725px);
    }
    #container06.columns>.wrapper>.inner>div:first-of-type>.full {
        margin-left: calc(-0rem);
        width: calc(100% + 0rem + 0.4725px);
    }
    #container06.columns>.wrapper>.inner>div:last-of-type>.full {
        margin-left: calc(-0rem);
        width: calc(100% + 0rem + 0.4725px);
    }
    #container06.columns>.wrapper>.inner>div>.full:first-child {
        margin-top: -0rem !important;
    }
    #container06.columns>.wrapper>.inner>div>.full:last-child {
        margin-bottom: -0rem !important;
    }
    #container06.columns>.wrapper>.inner>div:first-of-type>.full:first-child {
        margin-top: calc(-0rem) !important;
    }
    #container06.columns>.wrapper>.inner>div:last-of-type>.full:last-child {
        margin-bottom: calc(-0rem) !important;
    }
    #container05>.wrapper>.inner {
        padding: 0rem 0rem;
    }
    #container05.default>.wrapper>.inner>* {
        margin-top: 0.5625rem;
        margin-bottom: 0.5625rem;
    }
    #container05.columns>.wrapper>.inner>*>* {
        margin-top: 0.5625rem;
        margin-bottom: 0.5625rem;
    }
    #container05.default>.wrapper>.inner>.full {
        margin-left: calc(-0rem);
        width: calc(100% + 0rem + 0.4725px);
    }
    #container05.default>.wrapper>.inner>.full:first-child {
        margin-top: -0rem !important;
    }
    #container05.default>.wrapper>.inner>.full:last-child {
        margin-bottom: -0rem !important;
    }
    #container05.columns>.wrapper>.inner>div>.full {
        margin-left: calc(-0rem);
        width: calc(100% + 0rem + 0.4725px);
    }
    #container05.columns>.wrapper>.inner>div:first-of-type>.full {
        margin-left: calc(-0rem);
        width: calc(100% + 0rem + 0.4725px);
    }
    #container05.columns>.wrapper>.inner>div:last-of-type>.full {
        margin-left: calc(-0rem);
        width: calc(100% + 0rem + 0.4725px);
    }
    #container05.columns>.wrapper>.inner>div>.full:first-child {
        margin-top: -0rem !important;
    }
    #container05.columns>.wrapper>.inner>div>.full:last-child {
        margin-bottom: -0rem !important;
    }
    #container05.columns>.wrapper>.inner>div:first-of-type>.full:first-child {
        margin-top: calc(-0rem) !important;
    }
    #container05.columns>.wrapper>.inner>div:last-of-type>.full:last-child {
        margin-bottom: calc(-0rem) !important;
    }
    #text04 {
        font-size: 3.5em;
    }
    #text05 {
        font-size: 3.5em;
    }
    #text06 {
        font-size: 3.5em;
    }
    #text07 {
        font-size: 3.5em;
    }
    #text08 {
        font-size: 3.5em;
    }
    #text09 {
        font-size: 3.5em;
    }
    #text10 {
        font-size: 3.5em;
    }
    #text11 {
        font-size: 3.5em;
    }
    #text12 {
        font-size: 3.5em;
    }
    #text13 {
        font-size: 3.5em;
    }
    #text14 {
        font-size: 3.5em;
    }
    #text15 {
        font-size: 3.5em;
    }
    #text03 {
        font-size: 3.5em;
    }
    #text02 {
        font-size: 3.5em;
    }
    #text01 {
        font-size: 3.5em;
    }
}